<h1>Register</h1>

<div class="form-group">
  <label for="tb-username">Username: </label>
  <input id="tb-username" class="form-control">
</div>
<div class="form-group">
  <label for="tb-email">E-mail: </label>
  <input id="tb-email" class="form-control">
</div>
<div class="form-group">
  <label for="tb-display-name">Display Name: </label>
  <input id="tb-display-name" class="form-control">
</div>
<div class="form-group">
  <label for="tb-password">Password: </label>
  <input type="password" id="tb-password" class="form-control">
</div>
<div class="form-group">
  <label for="tb-password">Confirm password: </label>
  <input type="password" class="form-control">
</div>
<button id="btn-register" class="btn btn-success">Register</button>
