<h1>TO DO:Display Users data</h1>
<a href="#/settings" id="users">View all users</a>
<div class="headers">
  <span>Username</span>
  <span>E-mail</span>
  <span>Role</span>
  <span>Date of registration</span>
</div>
