<div class="formBox">
    <h1>Edit User</h1>
    <div class="form-group">
        <label for="tb-edit-email">e-mail: </label>
        <input id="tb-edit-email" class="form-control" value="{{this}}">
    </div>
    <div class="form-group">
        <label for="tb-edit-displayName">Display name: </label>
        <input id="tb-edit-displayName" class="form-control">
    </div>
    <input type="button" id="btn-edit" class="btn btn-warning" value="Edit">
</div>
