<div class="formBox">

    <h1><img class="img-thumbnail" src="./././images/cat.png" class="img-responsive" /> User</h1>

    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
</div>
