<div class="formBox">

    <img class="img-thumbnail" src="./././images/cat.png" />
    <h1>Nickname: {{this.DisplayName}}</h1>
    <h3>User: {{this.Username}}</h3>
    <h3>e-mail: {{this.Email}}</h3>

    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
</div>
