<h1>Change password</h1>

<div class="form-group">
  <label for="tb-current-username">Username: </label>
  <input id="tb-current-username" class="form-control">
</div>
<div class="form-group">
  <label for="tb-current-password">Current password: </label>
  <input type="password" id="tb-current-password" class="form-control">
</div>
<div class="form-group">
  <label for="tb-new-password">New password: </label>
  <input type="password" id="tb-new-password" class="form-control">
</div>
<div class="form-group">
  <label for="tb-repeat-password">Repeat new password: </label>
  <input type="tb-repeat-password" class="form-control">
</div>
<input type="button" id="btn-change-password" class="btn btn-default" value="Change password">
