  <h2>Team members (alphabetically)</h2>
  <ul class="list-unstyled">
    {{#each this}}
      <li>{{this.name}}: <a href="http://telerikacademy.com/Users/{{this.taUser}}">{{this.taUser}}</a>
      <!--<a href="{{this.git}}">GitHub</a>-->
      </li>
    {{/each}}
  </ul>
  
