<div id="logoHomeBar" class="container">
    <img id="logo" src="images/logo-face.png">
    <h2 class="text-center">WELCOME TO IRON FIST ONLINE DEALERSHIP </h2>
    <article class="container-fluid">
      <p>No two dealers’ business models are the same, just like no two shoppers are the same. You deserve a website platform as unique as the challenges your dealership faces–one that can understand and change dynamically to respond to your individual shoppers’ interests in real-time. So you can connect with shoppers that match your business goals and are most likely to return you the highest profit.</p>

      <p>Start understanding and managing your online audiences today.  So you can close more of your customers tomorrow.</p>
    </article>
</div>
<h3>Last published cars</h3>
<div id="last-cars">
</div>
<h3>Last published posts</h3>
<div id="last-posts">
</div>
